$black: black;
$background: #B1DEF3;
$resume-color: #111320;
$prize-color:#CBA444;
$backgroundimage: url(https://i.gifer.com/NJEy.gif);
@mixin text-section{
    padding: 23px 40px;
    width: 80%;
   font-size: 13px;
 
  
}